/___ELDER___/
/node_modules/
/public/
/build/
.DS_Store

/netlify/functions/getBlogs/___ELDER___
/netlify/functions/getBlogs/public/*
/netlify/functions/getBlogs/src
/netlify/functions/getBlogs/images/sizes/*
# Local Netlify folder
.netlify