/___ELDER___/
/node_modules/
/public/
/build/
.DS_Store

/netlify/functions/getBlogs/___ELDER___
/netlify/functions/getBlogs/public/*
/netlify/functions/getBlogs/src
# Local Netlify folder
.netlify

/netlify/functions/getBlogs/node_modules